@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-zinc-200;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
    transform: translateY(-24px);
  }

  80% {
    opacity: 1;
    transform: translateY(-24px);
  }

  100% {
    opacity: 0;
    transform: translateY(-24px);
  }
}

.appear-animation {
  animation: fadeInOut 0.8s ease-out forwards;
}
